:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

.container-card{

    display: flex;
    margin: 80px auto;
    width: 70%;
    height: 450px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    
    
}

.container-sedan{
    background-color: var(--Bright-orange);
    border-radius: 10px 0 0 10px;
    padding: 35px;
 
}

.container-suv{
    background-color: var(--Dark-cyan);
    padding: 35px;
}

.container-luxury{
    background-color: var(--Very-dark-cyan);
    border-radius: 0 10px 10px 0;
    padding: 35px;
}


.card-title{
    color:#fff;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 30px;

    margin-top: 20px;
    margin-bottom: 20px;

}

.card-paragraph{
    color: var(--Transparent-white);
    font-size: 14px;
    font-family: 'Lexend Deca';

    line-height: 2;
    text-align: start;
    padding-right: 25px;

}

.btn{
    font-family: 'Lexend Deca';
    background-color: var(--Very-light-gray);
    text-align: center;
    font-size: 14px;

    position: absolute;
    top: 450px;

    width: 130px;
    border-radius: 100px;

    padding: 10px;
}
.btn-orange{
    color: var(--Bright-orange);
}

.btn-green{
    color: var(--Dark-cyan);
}

.btn-dark-green{
    color: var(--Very-dark-cyan);
}
